/*
.grid {
    display: grid;
    grid-template-areas:
        'hd hd hd'
        'main main' "sidebar"
        'content content'
        'ft ft ft';
}*/
html{
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 100;
    font-style: normal;
    box-sizing: border-box;
    overflow-y: scroll;
}

h1,
h2 {
	font-family:bison,sans-serif;
    line-height: 1.2!important;
    letter-spacing: .03em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    color: inherit;
}

p{
	margin:0 auto;
	padding-top: 1em;
}

span{
	font-weight: bold;

}

body{
	margin: 0 auto;
	background-image: cover
}

header { 
	background-image: url(https://www.barcelonacodeschool.com/files/pics/cur_files/squares.svg);
	background-size: cover;
 }

header h1{
	padding-left: 4em;
	padding-top: 3em;
	display: inline-block;
	font-style: aria current;

}

nav {
	list-style: none;
	margin: 0;
    padding: 1em;
    display: flex;
    justify-content: space-around;
	background-color: black;
	color: white
 }

 nav a:link{
 	color:white;
 	text-decoration: none
 }

 nav a:visited{
    color:white;
 	text-decoration: none;

 }


article { 
	display:inline-block;
	justify-content: space-between;
	padding-left: 8em;
	padding-top: 4em;
	padding-bottom: 4em;
	padding-right:8em;
}

article a{
	display: inline-block;
	color:grey;
 	text-decoration: underline; 	
 	font-style: normal;
 	justify-content: space-between;
 	padding-bottom: 1em;

}

address{
	display: block;
	color:gray;
 	text-decoration: underline;
 	font-style: normal;
 	padding-bottom: 1em;
 	font-style: normal;
}

button{
	background-color: white;
	color: grey;
	border: 1px solid;
	border-radius: 0
	border-color: black;
	padding:1em;
    background-image: none!important;
    box-shadow: -3px 3px black;

    
}

aside{
	display: inline-block;
    float: left;
	margin-top:2em;
}

i {
 	position:relative;
 	bottom: 0 auto;
 	left: 980px;
}

footer{
	display:inline-block;
	justify-content: space-between;
	padding-left: 8em;
	padding-top: 5em;
	padding-bottom: 5em;
	padding-right:8em;
}

footer a{
	text-decoration: none;
	color:white;
}

section {
	display:inline-block;
	padding-left: 8em;
	padding-top: 5em;
	padding-bottom: 5em;
	padding-right:8em;
}

section img{
width: 90%;
}

.grid-1-1{
	display: grid;
	grid-template-columns:1fr 1fr;
	float: center;
	margin: 0 auto;
	grid-gap:2em;

}

#box{
    border: 1px solid grey;
    margin-bottom: 1em;
    text-align: left;
    padding: 1em;
    box-shadow: -3px 3px black;
}

.grid4{
    display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	margin: 0 auto;
	grid-gap:2em;
	background-color: black
	color:white;

}

.grid3{
    display: grid;
	grid-template-columns:1fr 1fr 1fr;
	float: center;
	margin: 0 auto;
	grid-gap:2em;
	background-color: black
	color:white;

}


.grid8 {
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	float: center;
	margin: 0 auto;
	grid-column-gap: 0;
	grid-row-gap: 0;
}


.video {
	display: flex;
 	width: auto;
	height: auto;
	border:1px solid;
	border-color: black;
	width:480px; 
	height:280px;
	box-shadow: -2px 5px black;
}

.blockblack{
	background-color: black;
	color: white;
	align-items: center;

}

.blockwhite {
	display:inline-block;
	background-color: white;
	color: black;
	}


.mark{
	background-color:#FFFF00; 
	}

.dropdown {
  position: flex;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: grid;
  background-color: black;
}

#header1{
padding-bottom: 2em;
font-style:;
font-size:;
color: black;
}

}

aside { 
	grid-area: sidebar; }
footer { 
	grid-area: ft; }


@media all and (max-width: 800px){
	.grid {
    display: grid;
    grid-template-areas:
        "hd"
        "main" 
        "sidebar"
        "ft";
}
i {
 	position:relative;
 	bottom: 0 auto; 
}.video{
	display: flex;
 	width: auto;
	height: auto;
	border:1px solid;
	border-color: black;
}
}



/*body {
	background-color: white;
	color: black;
	align-items: center;
	background: cover;
	
}


head{
	text-align: center;
	color: black;
} 

img{
	width:100%;
}


button{
	color: black;
	background-color: white;
	align-items: left;
}


p {
	display:block;
	color: white;
	background-color:transparent;
}

h1{
	padding: 2em;
}

.splash {
background-image: url(https://www.barcelonacodeschool.com/files/pics/cur_files/squares.svg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed

}

.blockblack{
	background-color: black;
	color: white;
	align-items: center;

}

.blockwhite {
	display:inline-block;
	background-color: white;
	color: black;
	}

.grid {
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	float: center;
	grid-column-gap: 0;
	grid-row-gap: 0;
	padding-top: 4em;
	padding-left: 4em;
	padding-right: 4em;
	padding-bottom: 4em;
}

.grid3 {
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
	padding-top: 2em;
	padding-bottom: 2em;
}

.grid4 {
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	padding-bottom: 4em;
	padding-left: 4em;
	padding-right: 4em;
	grid-gap: 2em;
}

.video {
	width:560; 
	height:315;
	align-content: right;
}

#box{
	padding-top: 2em;
	padding-bottom: 2em; 
}*/